@{
    ViewData["Title"] = "Edition d'un rôle";
}
@using Isen.Dotnet.Library.Model;
@using Isen.Dotnet.Library.Context;
@model Role;
@inject ApplicationDbContext _context;

<h2>Création ou édition <small>d'un rôle</small></h2>
<form class="form-group" asp-action="Edit">

    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label for="Name">Nom du rôle</label>
                <input
                    id="Name"
                    type="text"
                    class="form-control"
                    placeholder="Nom du rôle"
                    asp-for="Name"
                    value="@Model?.Name" />
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="¨Persons">Personnes</label>
                @foreach(Person person in _context.PersonCollection)
                {
                    <div>
                        @Html.CheckBox(
                            person.Id.ToString(), 
                            Model.PersonRoles.Where(pr => pr.PersonId == person.Id).Any()
                        )
                        @Html.Label(person.FirstName + " " + person.LastName)
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Valider</button>
            <a class="btn btn-secondary" asp-action="Index">Annuler</a>
        </div>
    </div>

</form>        
