@{
    ViewData["Title"] = "Edition d'un personne";
}
@using Isen.Dotnet.Library.Model;
@using Isen.Dotnet.Library.Context;
@model Person;
@inject ApplicationDbContext _context;

@{
    var dateTimeString = "";
    if (Model?.DateOfBirth != null) 
        dateTimeString = Model.DateOfBirth.Value.ToString("dd/MM/yyyy");
}

<h2>Création ou édition <small>d'une personne</small></h2>
<form class="form-group" asp-action="Edit">

    <h3>Identité <small>de la personne</small></h3>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label for="LastName">Nom de famille</label>
                <input
                    id="LastName"
                    type="text"
                    class="form-control"
                    placeholder="Nom de famille"
                    asp-for="LastName"
                    value="@Model?.LastName" />
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="FirstName">Prénom</label>
                <input
                    id="FirstName"
                    type="text"
                    class="form-control"
                    placeholder="Prénom"
                    asp-for="FirstName"
                    value="@Model?.FirstName" />
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="DateOfBirth">Date de naissance</label>
                <input
                    id="DateOfBirth"
                    type="text"
                    class="form-control"
                    placeholder="jj/mm/aaaa"
                    asp-for="DateOfBirth"
                    value="@dateTimeString" />
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="MobilePhone">Téléphone</label>
                <input
                    id="MobilePhone"
                    type="text"
                    class="form-control"
                    placeholder="0612345678"
                    asp-for="MobileNumber"
                    value="@Model?.MobileNumber"/>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="Mail">Mail</label>
                <input
                    id="DateOfBirth"
                    type="text"
                    class="form-control"
                    placeholder="mail@gmail.com"
                    asp-for="Mail"
                    value="@Model?.Mail"/>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="Service">Service</label>
                @Html.DropDownListFor(
                    p => p.ServiceId,
                    new SelectList(
                        _context.ServiceCollection,
                        "Id",
                        "Name"
                    ),
                    "Sélectionner un service",
                    new { @class = "form-control" }
                )
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="Roles">Rôles</label>
                @foreach(Role role in _context.RoleCollection)
                {
                    <div>
                        @Html.CheckBox(
                            role.Id.ToString(), 
                            Model.PersonRoles.Where(pr => pr.RoleId == role.Id).Any()
                        )
                        @Html.Label(role.Name)
                    </div>
                }
            </div>
        </div>
    </div>
        <div class="row">
            <div class="col-8">
                <button type="submit" class="btn btn-primary">Valider</button>
                <a class="btn btn-secondary" asp-action="Index">Annuler</a>
            </div>
        </div>
    </div>








</form>        
